{% extends "module.html.twig" %}

{% block section %}
    {% block alerts %}
        {{ include('alert/alerts.html.twig', {alerts}) }}
    {% endblock %}

    <div class="card-container">
        {% for section in sections %}
            <div class="card card-size-fixed-small">
                <div class="card-header">
                    <div class="card-icon">
                        <img src="{{ asset(section.icon) }}" width="64" height="64" alt="{{ section.title }}" />
                    </div>
                    <div class="card-header-body">
                        <h1 class="card-title">{{ section.title }}</h1>
                        <span class="card-subtitle">{{ section.subtitle }}</span>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ section.description }}</p>
                </div>
                <div class="card-footer">
                    <a href="{{ uri(section.route) }}" class="btn btn-primary">
                        {{ section.actionLabel }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
